<h1> 여기는 게시판 글 리스트 </h1>
<%@every_post.each do |p|%> 

 <!-- every_post의 내용을 하나씩 뽑아서 do와 end 사이에서 처리하겠다. -->
<!-- 하나씩 뽑은 값을 p에 저장하겠다. -->

제목 : <%= p.title%><br>
내용 : <%= p.content%><br>
시간 : <%= p.created_at %>
<a href="/destroy/<%=p.id%>">[삭제]</a>
<hr>
<!-- p의 각 속성을 하나씩 출력 -->
<!-- =은 출력하겠다는 뜻 -->
<% end %>

<a href="/">게시판 글쓰러가기</a>